<div class="col-xs-12 errors" *ngIf="inputError">

	<p>{{ inputError }}</p>

</div>

<div class="main">

	<div class="col-md-6 col-xs-12 calculator">

		<form action="">

			<input type="text" name="valid" placeholder="ex: £12.09p" [(ngModel)]="amount">
			<input type="submit" class="btn" value="Submit" (click)="getCoinsValue()">

		</form>

	</div>

	<div class="col-md-6 col-xs-12 denominations">

		<h5 class="denominations-heading" *ngIf="denominationsArray.length">Denominations:</h5>

		<p class="denomination" *ngFor="let coins of denominationsArray;">
			{{ coins }}
		</p>

	</div>

</div>